-- Create the database
CREATE DATABASE EduZone;
GO


USE [EduZone]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 5/25/2024 10:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [int] NULL,
	[CREATEDATETIME] [datetime] NULL,
	[CREATE_BY] [int] NULL,
	[IMG] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DETAILS]    Script Date: 5/25/2024 10:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DETAILS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[ACC_ROLE] [int] NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[PROFILE_IMG] [nvarchar](100) NULL,
	[CREATE_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_USER_DETAILS] FOREIGN KEY([CREATE_BY])
REFERENCES [dbo].[USER_DETAILS] ([USER_ID])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK_POST_USER_DETAILS]
GO
