@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title" id="about-page">
    <h2 id="title">@ViewBag.Title .</h2>
    <h5>@ViewBag.Message</h5>

    <p align="justify">
        Welcome to the EduZone Blog Posting web application! Our platform is your go-to destination for seamlessly creating, managing, and sharing educational content within your community or organization.

        Whether you're an educator looking to share valuable insights, a student seeking resources to enhance your learning experience, or an organization aiming to foster knowledge exchange, EduZone is your one-stop solution. With user-friendly features and intuitive design, creating engaging blog posts has never been easier.

        Empower collaboration, spark discussions, and cultivate a culture of learning with EduZone. Join our vibrant community today and unlock the full potential of educational content sharing!
    </p>
    <a> - EduZone</a>
</main>